.yingyong_info {
	BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 16px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 16px; WIDTH: 627px; BACKGROUND-COLOR: #f5f5f5
}
.applyInfosub {
	HEIGHT: 92px
}
.yingyong_img {
	OVERFLOW: hidden; HEIGHT: 72px; POSITION: relative; FLOAT: left; MARGIN-TOP: 10px; WIDTH: 72px
}
.yingyong_img IMG {
	OVERFLOW: hidden; HEIGHT: 72px; WIDTH: 72px
}
.yingyong_Language {
	OVERFLOW: hidden; HEIGHT: 72px; WIDTH: 72px
}
.yingyong_shadow {
	OVERFLOW: hidden; HEIGHT: 72px; WIDTH: 72px
}
.yingyong_shadow {
	BACKGROUND: url(images/conIconbg.png) no-repeat
}
.info_text {
	FLOAT: left; PADDING-LEFT: 16px; WIDTH: 370px
}
.info_text .info_title {
	OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-LEFT: 0px; WIDTH: 370px
}
.yingyong_info .info_eng {
	OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-LEFT: 0px; WIDTH: 370px
}
.info_text .info_title {
	FONT-SIZE: 16px; HEIGHT: 25px; LINE-HEIGHT: 25px
}
.info_text .info_eng {
	FONT-SIZE: 14px; HEIGHT: 20px; COLOR: #abaaaa; LINE-HEIGHT: 20px
}
.info_starhot {
	HEIGHT: 25px
}
.info_text .star {
	MARGIN: 6px 0px
}
.hot {
	OVERFLOW: hidden; HEIGHT: 25px; BACKGROUND: url(images/iconbg.png) no-repeat; FLOAT: left; PADDING-LEFT: 29px; MARGIN-LEFT: 5px; LINE-HEIGHT: 25px
}
.hot {
	COLOR: #6a5e5e
}
.hot A {
	COLOR: #6a5e5e
}
.hot A {
	MARGIN-RIGHT: 16px
}
.info_text P {
	OVERFLOW: hidden; HEIGHT: 20px; COLOR: #666; LINE-HEIGHT: 20px; WIDTH: 370px
}
.info_text P SPAN {
	HEIGHT: 18px; BACKGROUND: url(images/newIconbg.png) no-repeat 0px 0px; FLOAT: left; WIDTH: 21px; TEXT-INDENT: -999em
}
.info_text P A {
	HEIGHT: 18px; FLOAT: left; COLOR: #6d6d6d; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; MARGIN: 1px 0px 0px 10px; LINE-HEIGHT: 18px; PADDING-RIGHT: 6px; BACKGROUND-COLOR: #d8d8d8; border-radius: 3px
}
.yingyong_info UL {
	OVERFLOW: hidden; FLOAT: left; TEXT-ALIGN: center; MARGIN: 0px 6px; WIDTH: 65px
}
.yingyong_info LI.img {
	HEIGHT: 44px; WIDTH: 65px
}
.yingyong_info LI.img A {
	HEIGHT: 43px; BACKGROUND: url(images/btnbg.gif) no-repeat; DISPLAY: block; WIDTH: 65px; TEXT-INDENT: -999em
}
.yingyong_info LI.img1 A {
	BACKGROUND-POSITION: -2px -118px
}
.yingyong_info LI.img2 A {
	BACKGROUND-POSITION: -76px -118px
}
.yingyong_info LI.num {
	FONT-SIZE: 14px; COLOR: #abaaaa; LINE-HEIGHT: 26px
}
.safe {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 32px; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; MARGIN-TOP: 8px; LINE-HEIGHT: 32px; BACKGROUND-COLOR: #fff
}
.safe SPAN {
	HEIGHT: 32px; FLOAT: left; COLOR: #606060; TEXT-ALIGN: center; WIDTH: 90px
}
.safe A {
	HEIGHT: 32px; BACKGROUND: url(images/newIconbg.png) no-repeat 0px -32px; FLOAT: left; COLOR: #606060; PADDING-LEFT: 25px; DISPLAY: inline
}
.safe A:hover {
	TEXT-DECORATION: none
}
.safe A.phoneSafe {
	BACKGROUND-POSITION: 0px -83px
}
.yingyong_info DL {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 46px; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 6px; PADDING-LEFT: 0px; BORDER-LEFT: #e1e1e1 1px solid; MARGIN-TOP: 8px; PADDING-RIGHT: 0px; WIDTH: 625px; BACKGROUND-COLOR: #fff
}
.yingyong_info DD {
	OVERFLOW: hidden; HEIGHT: 22px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; LINE-HEIGHT: 22px; PADDING-RIGHT: 15px; WIDTH: 260px
}
.yingyong_info DD.one {
	WIDTH: 110px
}
.yingyong_info DD.two {
	WIDTH: 150px
}
.yingyong_info DD SPAN {
	TEXT-OVERFLOW: ellipsis; FLOAT: left
}
.yingyong_info DD.one SPAN.text {
	WIDTH: 70px
}
.yingyong_info DD.two SPAN.text {
	WIDTH: 90px
}
.yingyong_info DD SPAN.text {
	OVERFLOW: hidden; HEIGHT: 22px; WIDTH: 212px
}
.yingyong_info DD B {
	FONT-WEIGHT: normal; COLOR: #2b7aaf
}
.rom_commenttitle H2 B {
	FONT-SIZE: 14px; COLOR: #333
}
.yingyong_rollimg {
	BORDER-TOP-STYLE: none; OVERFLOW: hidden; BORDER-LEFT-STYLE: none; HEIGHT: 156px; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 659px
}
.snapshot .arrow {
	MARGIN: 40px 4px
}
#snapshot_contenter {
	OVERFLOW: hidden; HEIGHT: 130px
}
.snapshot_list {
	OVERFLOW: hidden; HEIGHT: 130px
}
.snapshot_list UL {
	OVERFLOW: hidden; HEIGHT: 130px; BACKGROUND: #e5e5e5; MARGIN: 0px 10px; WIDTH: 130px
}
.snapshot_list LI {
	OVERFLOW: hidden; HEIGHT: 120px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; DISPLAY: table; PADDING-RIGHT: 5px; WIDTH: 120px
}
.snapshot_list LI DIV {
	VERTICAL-ALIGN: middle; POSITION: absolute; LEFT: 50%; DISPLAY: table-cell; TOP: 50%
}
.snapshot_list LI IMG {
	MAX-WIDTH: 120px; HEIGHT: auto; ; HEIGHT: expression(this.height > 120 && this.width / 120 < this.height / 120 ? 120 : true); POSITION: relative; FLOAT: none; LEFT: -50%; TOP: -50%; MAX-HEIGHT: 120px; WIDTH: auto; ; WIDTH: expression(this.width > 120 && this.width / 120 >= this.height / 120 ? 120 : true)
}
.yingyong_shipin {
	HEIGHT: 379px; BACKGROUND: url(images/shadowbg3.gif) no-repeat; PADDING-BOTTOM: 7px; PADDING-TOP: 10px; PADDING-LEFT: 11px; MARGIN: 10px auto; PADDING-RIGHT: 8px; WIDTH: 464px
}
.yingyong_shipin EMBED {
	OVERFLOW: hidden; HEIGHT: 379px; WIDTH: 464px
}
.yingyong_intro P {
	TEXT-INDENT: 2em
}
.yingyong_imgtext {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 659px
}
.yingyong_imgtext .list_imgtext {
	HEIGHT: 100px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px; WIDTH: 659px
}
.content_main {
	FLOAT: left; WIDTH: 661px
}
.zixun_content {
	BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; COLOR: #666; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 659px
}
.zixun_content H2 {
	FONT-SIZE: 26px; BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; MARGIN-TOP: 20px; LINE-HEIGHT: 30px
}
.zixun_content DL {
	HEIGHT: 26px; MARGIN: 0px auto; LINE-HEIGHT: 26px; WIDTH: 450px
}
.zixun_content DD {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WIDTH: 130px
}
.zixun_content P {
	FONT-SIZE: 14px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 20px; LINE-HEIGHT: 25px; PADDING-RIGHT: 20px; TEXT-INDENT: 2em
}
.zixun_content P.img {
	TEXT-ALIGN: center; TEXT-INDENT: 0px
}
.zixun_content P IMG {
	BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; BORDER-BOTTOM: #c8c8c8 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #c8c8c8 1px solid; PADDING-RIGHT: 5px
}
.zixun_content H6 {
	FONT-SIZE: 22px; TEXT-ALIGN: center; LINE-HEIGHT: 32px
}
.zixun_content TABLE {
	MARGIN: 12px auto; WIDTH: 580px
}
.zixun_content TD {
	FONT-SIZE: 18px; HEIGHT: 48px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 5px; LINE-HEIGHT: 48px; PADDING-RIGHT: 5px
}
.zixun_content TD IMG {
	OVERFLOW: hidden; HEIGHT: 48px; WIDTH: 48px; MARGIN-RIGHT: 2px
}
.content_nav {
	BORDER-TOP: #b6dbf5 1px solid; BORDER-RIGHT: #b6dbf5 1px solid; BACKGROUND: #ecf4f7; BORDER-BOTTOM: #b6dbf5 1px solid; MARGIN: 0px auto; BORDER-LEFT: #b6dbf5 1px solid; WIDTH: 520px
}
.content_nav .nav_title {
	FONT-SIZE: 14px; BORDER-BOTTOM: #cbcdcc 1px dashed; FONT-WEIGHT: bold; COLOR: #0371a4; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 28px; PADDING-RIGHT: 10px
}
.content_nav UL {
	PADDING-BOTTOM: 12px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 520px
}
.content_nav LI {
	OVERFLOW: hidden; HEIGHT: 25px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; WIDTH: 240px
}
.content_nav LI A {
	COLOR: #666
}
.yingyongIphone {
	HEIGHT: 90px; MARGIN-TOP: 10px; WIDTH: 275px
}
.yingyongIphone A {
	FONT-SIZE: 20px; HEIGHT: 75px; FONT-FAMILY: Helvetica,Arial,"Heiti SC","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; BACKGROUND: url(images/iphone.png) no-repeat; COLOR: #787878; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 15px; PADDING-LEFT: 60px; DISPLAY: block; LINE-HEIGHT: 26px; PADDING-RIGHT: 0px; WIDTH: 215px
}
.yingyongIphone A:hover {
	TEXT-DECORATION: none
}
.romRank {
	HEIGHT: auto
}
.romRank UL {
	PADDING-BOTTOM: 5px
}
.romRank .rank_top {
	BACKGROUND: url(images/rom/shadowbg1.png) no-repeat center bottom; PADDING-BOTTOM: 3px; PADDING-TOP: 5px; PADDING-LEFT: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.romRank_top SPAN {
	FLOAT: left; COLOR: #333; WIDTH: 198px
}
.romRank_top INPUT.changeNext {
	CURSOR: pointer; FONT-SIZE: 12px; HEIGHT: 21px; BACKGROUND: url(images/rom/rombtnbg.png) no-repeat -51px -66px; FLOAT: left; COLOR: #5d9101; MARGIN-TOP: 9px; WIDTH: 51px
}
.romRank LI {
	HEIGHT: 42px
}
.romRank LI A {
	HEIGHT: 42px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; PADDING-LEFT: 20px; LINE-HEIGHT: 42px; -o-text-overflow: ellipsis
}
.romRank LI A {
	BACKGROUND: url(images/rom/iconbg.png) no-repeat 6px 19px
}
.romRank LI:hover {
	BACKGROUND: url(images/rom/iconbg.png) no-repeat 6px 19px
}
.romRank .rank_bghover {
	BACKGROUND: url(images/rom/iconbg.png) no-repeat 6px 19px
}
.romRank LI A:hover {
	BACKGROUND: url(images/rom/iconbg.png) no-repeat 6px 19px
}
.romRank LI A:hover {
	FONT-WEIGHT: bold
}
.romRank LI.last {
	BORDER-BOTTOM-STYLE: none
}
.romRankCon {
	PADDING-LEFT: 11px; WIDTH: 253px
}
.romRankCon DL {
	MARGIN: 0px auto; WIDTH: 253px
}
.romRankCon DD {
	HEIGHT: 59px; BACKGROUND: url(images/rom/shadowbg2.png) no-repeat center bottom; MARGIN: 6px 0px; WIDTH: 253px
}
.romRankCon DD SPAN.romTxtAll {
	BORDER-TOP: #d5d5d5 1px solid; HEIGHT: 48px; BORDER-RIGHT: #d5d5d5 1px solid; BACKGROUND: #f9f8f8; BORDER-BOTTOM: #d5d5d5 1px; BORDER-LEFT: #d5d5d5 1px solid; DISPLAY: block; WIDTH: 251px
}
.romRankCon DD A.imgText {
	HEIGHT: 36px; FLOAT: left; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 6px; WIDTH: 241px
}
.romRankCon DD A:hover {
	CURSOR: pointer; TEXT-DECORATION: none
}
.romRankCon DD SPAN.img {
	HEIGHT: 36px; FLOAT: left; WIDTH: 36px
}
.romRankCon DD SPAN.img IMG {
	OVERFLOW: hidden; HEIGHT: 36px; WIDTH: 36px
}
.romRankCon DD SPAN.text {
	OVERFLOW: hidden; FONT-SIZE: 14px; HEIGHT: 36px; FLOAT: left; COLOR: #333; PADDING-LEFT: 3px; LINE-HEIGHT: 36px; WIDTH: 118px
}
.romRankCon .star_num {
	HEIGHT: 16px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 11px; PADDING-LEFT: 6px; DISPLAY: block; PADDING-RIGHT: 0px
}
.romRankCon DD .romDownload {
	DISPLAY: none
}
.romRankConHover SPAN.text {
	FONT-WEIGHT: bold
}
.applyDownload {
	BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 174px; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 18px; CLEAR: both; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 18px; WIDTH: 623px
}
.applyDownload DL {
	BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 30px; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 620px; BACKGROUND-COLOR: #f5f5f5
}
.applyDownload DD {
	OVERFLOW: hidden; HEIGHT: 30px; FLOAT: left; COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px; WIDTH: 180px
}
.applyDownload UL {
	HEIGHT: 142px; WIDTH: 622px
}
.applyDownload LI {
	HEIGHT: 142px; BORDER-RIGHT: #dcdcdc 1px solid; FLOAT: left; WIDTH: 200px
}
.applyDownload LI.first {
	HEIGHT: 122px; PADDING-TOP: 20px
}
.applyDownload LI A {
	HEIGHT: 33px; BACKGROUND: url(images/yingyongbtnbg.gif) no-repeat; MARGIN: 0px auto 20px; DISPLAY: block; WIDTH: 138px
}
.applyDownload LI A.localDownload {
	HEIGHT: 46px; BACKGROUND: url(images/newBtnbg.png) no-repeat 0px -47px
}
.applyDownload LI A.xunleiDownload {
	BACKGROUND-POSITION: 0px -204px
}
.applyDownload LI A.xunleiDownload:hover {
	BACKGROUND-POSITION: 0px -238px
}
.applyDownload LI.second {
	HEIGHT: 130px; PADDING-TOP: 12px
}
.applyDownload LI.second A {
	MARGIN-BOTTOM: 9px
}
.applyDownload LI A.wandoujia {
	BACKGROUND-POSITION: 0px -68px
}
.applyDownload LI A.wandoujia:hover {
	BACKGROUND-POSITION: 0px -102px
}
.applyDownload LI A.anzhuangQQ {
	BACKGROUND-POSITION: 0px -340px
}
.applyDownload LI A.anzhuangQQ:hover {
	BACKGROUND-POSITION: 0px -374px
}
.applyDownload LI A.anzhuang {
	BACKGROUND-POSITION: 0px -136px
}
.applyDownload LI A.anzhuang:hover {
	BACKGROUND-POSITION: 0px -170px
}
.applyDownload LI.third {
	POSITION: relative; PADDING-TOP: 6px; BORDER-RIGHT-STYLE: none; WIDTH: 220px
}
.code {
	BORDER-TOP: #d4d4d4 1px solid; HEIGHT: 97px; BORDER-RIGHT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 7px; MARGIN: 0px auto; BORDER-LEFT: #d4d4d4 1px solid; PADDING-RIGHT: 7px; WIDTH: 97px
}
.code IMG {
	OVERFLOW: hidden; HEIGHT: 97px; WIDTH: 97px
}
.applyDownload LI.third P.text {
	COLOR: #666; PADDING-LEFT: 16px; LINE-HEIGHT: 20px
}
.applyDownload LI.third P.text A {
	HEIGHT: auto; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #2b7aaf; MARGIN: 0px; DISPLAY: inline; WIDTH: auto
}
.quanxian {
	CURSOR: pointer; HEIGHT: 25px; POSITION: absolute; COLOR: #2b7aaf; LEFT: 146px; MARGIN: 0px auto 12px; TOP: 120px; WIDTH: 60px; _top: 121px
}
.quanxian_intro {
	OVERFLOW: scroll; BORDER-TOP: #b7dcf6 1px solid; HEIGHT: 122px; BORDER-RIGHT: #b7dcf6 1px solid; BACKGROUND: #ecf4f7; BORDER-BOTTOM: #b7dcf6 1px solid; POSITION: absolute; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 20px; LEFT: 1px; BORDER-LEFT: #b7dcf6 1px solid; Z-INDEX: 999; DISPLAY: none; TOP: 1px; PADDING-RIGHT: 20px; WIDTH: 152px
}
.applyDownload LI.third .quanxian_intro P {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px
}
.applyDownload LI.third .close {
	CURSOR: pointer; HEIGHT: 23px; BACKGROUND: url(images/btnbg.gif) no-repeat 0px -94px; TEXT-ALIGN: center; TEXT-DECORATION: none; MARGIN: 5px auto 0px; DISPLAY: block; LINE-HEIGHT: 23px; WIDTH: 51px
}
.applyDownload LI.third .close:hover {
	TEXT-DECORATION: none
}
.titleTab {
	HEIGHT: 38px; BACKGROUND: url(images/titleContabbg.png) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; WIDTH: 621px
}
.titleTab .gameTitleTab {
	HEIGHT: 32px; PADDING-TOP: 6px
}
.titleTab H2 {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 29px; BACKGROUND: url(images/titleTabbg.png) no-repeat 0px -33px; FLOAT: left; COLOR: #fff; TEXT-ALIGN: center; FONT: 14px/29px Helvetica, Arial, "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif; MARGIN: 2px 7px 0px 0px; WIDTH: 79px
}
.titleTab H2.hover {
	BACKGROUND-POSITION: 0px 0px; COLOR: #5d9101; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 0px; MARGIN: 0px 3px 0px 0px; PADDING-RIGHT: 6px
}
.applyTab {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 659px
}
.applyIntro {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; WIDTH: 629px
}
.applyTab .hideTab {
	OVERFLOW: hidden; HEIGHT: 0px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 0px
}
.applyIntro P {
	TEXT-INDENT: 2em
}
.con_one_hide {
	OVERFLOW: hidden; HEIGHT: 150px
}
.applyTab .hideIntro {
	OVERFLOW: hidden; HEIGHT: 150px
}
.moreIntro {
	FLOAT: right; COLOR: #5d9101; DISPLAY: none
}
.gameSave {
	OVERFLOW: hidden; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 649px
}
.gameSaveSub {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 12px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WIDTH: 314px
}
.gameSaveSub H3 {
	FONT-SIZE: 14px; HEIGHT: 26px; COLOR: #4e4e4e; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; LINE-HEIGHT: 26px; PADDING-RIGHT: 15px; WIDTH: 284px; BACKGROUND-COLOR: #eee
}
.gamesaveCon {
	OVERFLOW: hidden; PADDING-BOTTOM: 5px; PADDING-TOP: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WIDTH: 304px
}
.gamesaveCon UL {
	FLOAT: left; WIDTH: 80px
}
.gamesaveCon LI {
	TEXT-ALIGN: center
}
.gamesaveCon LI A {
	HEIGHT: 24px; BACKGROUND: url(images/btnbg.gif) no-repeat 0px -221px; FONT-WEIGHT: bold; COLOR: #fff; MARGIN: 5px auto; DISPLAY: block; LINE-HEIGHT: 24px; WIDTH: 71px
}
.gamesaveCon LI A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.gamesaveCon SPAN {
	OVERFLOW: hidden; HEIGHT: 106px; FLOAT: left; COLOR: #666; PADDING-LEFT: 15px; LINE-HEIGHT: 22px; WIDTH: 205px; TEXT-INDENT: 2em
}
.dDownload {
	HEIGHT: 115px; BACKGROUND: url(images/newBtnbg.png) no-repeat 0px -134px; MARGIN-LEFT: 8px; WIDTH: 275px
}
.iphoneDownload {
	HEIGHT: 115px; BACKGROUND: url(images/newBtnbg.png) no-repeat 0px -134px; MARGIN-LEFT: 8px; WIDTH: 275px
}
.dDownCenter {
	HEIGHT: 76px; BACKGROUND: url(images/newsDownbg.png) no-repeat 0px 0px; FLOAT: left; MARGIN: 13px 0px 0px 7px; WIDTH: 76px
}
.dDownCenterT {
	HEIGHT: 24px; BACKGROUND: url(images/newsDownbg.png) no-repeat 0px -85px; FLOAT: left; MARGIN: 16px 0px 0px 4px; WIDTH: 187px
}
.atonceDownload {
	HEIGHT: 45px; BACKGROUND: url(images/newsDownbg.png) no-repeat 0px -112px; FLOAT: left; MARGIN: 4px 0px 0px 22px; WIDTH: 147px
}
.iphoneDownload {
	HEIGHT: 93px; BACKGROUND-POSITION: 0px -252px
}
.iphoneDownload A {
	FONT-SIZE: 20px; HEIGHT: 65px; COLOR: #787878; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 18px; PADDING-LEFT: 70px; DISPLAY: block; LINE-HEIGHT: 26px; PADDING-RIGHT: 0px; WIDTH: 205px; text-shadow: 1px 1px #fff
}
.iphoneDownload A:hover {
	TEXT-DECORATION: none
}
.gameListCon {
	PADDING-BOTTOM: 20px; PADDING-TOP: 6px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; WIDTH: 215px
}
.gameListCon A {
	HEIGHT: 26px; BACKGROUND: url(images/newBtnbg.png) no-repeat -196px -106px; FLOAT: left; COLOR: #4f4f4f; TEXT-ALIGN: center; MARGIN: 5px 14px; DISPLAY: inline; LINE-HEIGHT: 26px; WIDTH: 79px
}
.gameListCon A:hover {
	BACKGROUND-POSITION: -196px -78px; COLOR: #fff; TEXT-DECORATION: none
}
.numberFAQ {
	HEIGHT: auto; PADDING-BOTTOM: 10px
}
.numberFAQ P {
	FONT-SIZE: 13px; COLOR: #5b5b5b; LINE-HEIGHT: 25px; TEXT-INDENT: 2em
}
.numberFAQ A {
	COLOR: #f00; TEXT-DECORATION: underline
}
.romTitleDown {
	HEIGHT: 32px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; WIDTH: 500px
}
.romTitleDown LI {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 29px; BACKGROUND: url(images/titleTabbg.png) no-repeat 0px -33px; FLOAT: left; COLOR: #fff; TEXT-ALIGN: center; FONT: 14px/29px Helvetica, Arial, "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif; MARGIN: 2px 7px 0px 0px; WIDTH: 79px
}
.romTitleDown LI.hover {
	POSITION: relative; BACKGROUND-POSITION: 0px 0px; COLOR: #5d9101; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 0px; MARGIN: 0px 3px 0px 0px; Z-INDEX: 9; PADDING-RIGHT: 5px
}
.save-list LI {
	BORDER-BOTTOM: #dcdcdc 1px dashed; PADDING-BOTTOM: 1em
}
.save-list LI.last {
	BORDER-BOTTOM-WIDTH: 0px
}
.save-list H4 {
	MARGIN-BOTTOM: 10px
}
.save-list H4 SPAN {
	FLOAT: right; FONT-WEIGHT: normal; COLOR: #7c7c7c
}
.save-list P {
	TEXT-INDENT: 0px
}
.tips {
	BORDER-TOP: #dcdcdc 1px solid; PADDING-TOP: 10px
}
.tips-in {
	OVERFLOW: hidden; HEIGHT: 1%; BACKGROUND: #f3f3f3; COLOR: #fc7108 !important
}
.tips-in P {
	COLOR: #fc7108 !important; TEXT-INDENT: 0px
}
.tips-in .l {
	BORDER-RIGHT: #d2d2d2 1px dashed; FLOAT: left; MARGIN: 12px 3em 10px 1em; DISPLAY: inline; PADDING-RIGHT: 1.5em
}
.tips-in .r {
	PADDING-TOP: 10px
}
.tips-in .r IMG {
	MARGIN-RIGHT: 20px
}
