EM {
	FONT-WEIGHT: bold; FONT-STYLE: normal; LETTER-SPACING: 0px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clear {
	FONT-SIZE: 0px; HEIGHT: 0px; CLEAR: both; DISPLAY: block; LINE-HEIGHT: 0
}
.clearfix:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: ""; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.rb {
	BACKGROUND: url(../images/siteNavBg.gif) no-repeat
}
.lb {
	BACKGROUND: url(../images/siteNavBg.gif) no-repeat
}
.rb {
	BACKGROUND-POSITION: right 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px
}
.lb {
	BACKGROUND-POSITION: left 0px
}
#siteNav {
	FONT-FAMILY: Arial !important; BACKGROUND: url(../images/siteNavBg.gif) #fff repeat-x left bottom; CLEAR: both; LINE-HEIGHT: 30px
}
#siteNav .layout {
	TEXT-ALIGN: right; MARGIN: 0px auto; WIDTH: 960px
}
#siteNav A {
	COLOR: #808080; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
#siteNav A:hover {
	COLOR: #0076d4
}
#siteNav EM {
	COLOR: #d90000
}
#siteNav A.nickName {
	COLOR: #0076d4; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#siteNav .mobV {
	BACKGROUND: url(../images/mobicon.gif) no-repeat 0px 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 8px
}
#footer-nav {
	BORDER-TOP: #e7e7e7 1px solid; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#footer-nav P {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px
}
#footer-nav P {
	COLOR: #6a6a6a
}
.footer A {
	COLOR: #6a6a6a
}
#footer-nav A {
	MARGIN: 0px 5px
}
#footer-nav A:hover {
	COLOR: #5a5a5a
}
#footer-nav .number A {
	MARGIN: 0px 0px 0px 4px
}
