#jquery-overlay {
	HEIGHT: 500px; POSITION: absolute; LEFT: 0px; Z-INDEX: 90; TOP: 0px; WIDTH: 100%
}
#jquery-lightbox {
	POSITION: absolute; TEXT-ALIGN: center; LEFT: 0px; Z-INDEX: 100; LINE-HEIGHT: 0; TOP: 0px; WIDTH: 100%
}
#jquery-lightbox A IMG {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
#lightbox-container-image-box {
	HEIGHT: 250px; POSITION: relative; MARGIN: 0px auto; WIDTH: 250px; BACKGROUND-COLOR: #fff
}
#lightbox-container-image {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#lightbox-loading {
	HEIGHT: 25%; POSITION: absolute; TEXT-ALIGN: center; LEFT: 0%; LINE-HEIGHT: 0; TOP: 40%; WIDTH: 100%
}
#lightbox-nav {
	HEIGHT: 100%; POSITION: absolute; LEFT: 0px; Z-INDEX: 10; TOP: 0px; WIDTH: 100%
}
#lightbox-container-image-box > #lightbox-nav {
	LEFT: 0px
}
#lightbox-nav A {
	OUTLINE-STYLE: none
}
#lightbox-nav-btnPrev {
	HEIGHT: 100%; DISPLAY: block; WIDTH: 49%
}
#lightbox-nav-btnNext {
	HEIGHT: 100%; DISPLAY: block; WIDTH: 49%
}
#lightbox-nav-btnPrev {
	FLOAT: left; LEFT: 0px
}
#lightbox-nav-btnNext {
	RIGHT: 0px; FLOAT: right
}
#lightbox-container-image-data-box {
	OVERFLOW: auto; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 10px/1.4em Verdana, Helvetica, sans-serif; PADDING-LEFT: 10px; MARGIN: 0px auto; PADDING-RIGHT: 10px; WIDTH: 100%; BACKGROUND-COLOR: #fff
}
#lightbox-container-image-data {
	COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#lightbox-container-image-data #lightbox-image-details {
	FLOAT: left; TEXT-ALIGN: left; WIDTH: 70%
}
#lightbox-image-details-caption {
	FONT-WEIGHT: bold
}
#lightbox-image-details-currentNumber {
	PADDING-BOTTOM: 1em; CLEAR: left; DISPLAY: block
}
#lightbox-secNav-btnClose {
	FLOAT: right; PADDING-BOTTOM: 0.7em; WIDTH: 66px
}
