.list_imgtext {
	OVERFLOW: hidden; HEIGHT: 222px; PADDING-TOP: 6px; MARGIN-TOP: 4px; WIDTH: 659px
}
.borderbg {
	BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; BACKGROUND: #f3f3f3; BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid
}
.list_imgtext UL {
	OVERFLOW: hidden; HEIGHT: 95px; FLOAT: left; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 11px; WIDTH: 88px
}
.list_imgtext LI.img {
	OVERFLOW: hidden; HEIGHT: 64px; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 12px; DISPLAY: inline; PADDING-RIGHT: 0px; WIDTH: 64px
}
.list_imgtext LI.img IMG {
	OVERFLOW: hidden; HEIGHT: 64px; WIDTH: 64px
}
.list_imgtext LI.text {
	OVERFLOW: hidden; HEIGHT: 28px; FLOAT: left; COLOR: #666; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 28px; WIDTH: 88px
}
.list_imgtext LI.text A {
	COLOR: #666
}
.rom_phonecontent {
	FLOAT: left; WIDTH: 661px
}
.subcon_generalshow {
	OVERFLOW: hidden; BORDER-TOP: #cfcfcf 1px solid; HEIGHT: auto; BORDER-RIGHT: #cfcfcf 1px solid; BACKGROUND: url(images/rom_phonecontentbg.gif) #fff repeat-x left bottom; BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; WIDTH: 659px
}
.show_productinfo {
	OVERFLOW: hidden; HEIGHT: auto; BACKGROUND: url(images/rom_androidbg.gif) no-repeat right bottom; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; WIDTH: 623px
}
.show_productimg {
	BORDER-TOP: #ccc 1px dashed; WIDTH: 659px
}
.snapshot {
	OVERFLOW: hidden; MARGIN: 18px auto; WIDTH: 640px
}
.snapshot .arrow {
	CURSOR: pointer; HEIGHT: 45px; BACKGROUND: url(images/btnbg.gif) no-repeat; FLOAT: left; MARGIN: 75px 4px; DISPLAY: block; WIDTH: 10px
}
.snapshot .back {
	BACKGROUND-POSITION: -178px -96px
}
.snapshot .forward {
	BACKGROUND-POSITION: -194px -96px
}
#snapshot_contenter {
	OVERFLOW: hidden; HEIGHT: 200px; POSITION: relative; FLOAT: left; DISPLAY: inline; WIDTH: 600px
}
.snapshot_list {
	OVERFLOW: hidden; HEIGHT: 200px; POSITION: absolute; FLOAT: left; WIDTH: 10000px
}
.snapshot_list UL {
	OVERFLOW: hidden; HEIGHT: 200px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 0px 15px; DISPLAY: inline; WIDTH: 120px
}
.snapshot_list LI {
	HEIGHT: 200px; POSITION: relative; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 28px; WIDTH: 120px
}
.snapshot_list LI IMG {
	OVERFLOW: hidden; HEIGHT: 200px; FLOAT: left; WIDTH: 120px
}
.rom_introduction {
	MARGIN-TOP: 10px; WIDTH: 661px
}
.rom_title {
	HEIGHT: 30px; BACKGROUND: url(images/rom_titlebg.gif) no-repeat; FLOAT: none; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 29px; PADDING-RIGHT: 0px; WIDTH: 632px
}
.rom_title DIV {
	BACKGROUND: url(images/btnbg.gif) no-repeat
}
.rom_title H2 {
	BACKGROUND: url(images/btnbg.gif) no-repeat
}
.rom_title DIV {
	HEIGHT: 30px; BACKGROUND: url(images/romtitlebg.gif) no-repeat 0px 0px; PADDING-LEFT: 5px
}
.rom_title H2 {
	FONT-SIZE: 14px; HEIGHT: 27px; BACKGROUND: url(images/romtitlebg.gif) no-repeat 100% 0px; COLOR: #5d9101; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 10px; LINE-HEIGHT: 27px; PADDING-RIGHT: 15px
}
.rom_introductioncon {
	BORDER-TOP: #dcdcdc 1px; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 20px; WIDTH: 619px
}
.rom_introductioncon P {
	FONT-SIZE: 13px; COLOR: #5b5b5b; LINE-HEIGHT: 25px
}
.rom_commenttitle {
	HEIGHT: 42px; FLOAT: none; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; WIDTH: 645px
}
.rom_commenttitle DIV {
	MARGIN-BOTTOM: 1px
}
.rom_commenttitle H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 26px
}
.rom_commenttitle SPAN {
	OVERFLOW: hidden; HEIGHT: 42px; BACKGROUND: url(images/titlebg.gif) no-repeat right bottom; FLOAT: right; WIDTH: 8px
}
.rom_commentcon {
	BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 205px; BORDER-RIGHT: #dcdcdc 1px solid; BACKGROUND: #eeeded; BORDER-BOTTOM: #dcdcdc 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 20px; CLEAR: both; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 20px; WIDTH: 619px
}
.rom_commentcon UL {
	HEIGHT: 27px; WIDTH: 619px
}
.rom_commentcon LI {
	FONT-SIZE: 14px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FLOAT: left; COLOR: #504f4f; LINE-HEIGHT: 27px; PADDING-RIGHT: 16px
}
.rom_commentcon LI.float_right {
	FLOAT: right
}
.rom_commentcon LI .statement {
	FONT-SIZE: 12px; COLOR: #999
}
.rom_commentcon INPUT.txt {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 15px; BORDER-RIGHT: #ccc 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ccc 1px solid; COLOR: #5d5d5d; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 15px; PADDING-RIGHT: 5px; WIDTH: 110px
}
.rom_commentcon LI SPAN {
	FLOAT: left
}
.rom_commentcon LI DIV {
	FLOAT: left
}
.rom_commentcon LI DIV {
	MARGIN-TOP: 9px
}
.rom_commentcon TEXTAREA {
	FONT-SIZE: 12px; BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 102px; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; COLOR: #5d5d5d; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 8px 0px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 5px; WIDTH: 598px
}
.comment_loginreg {
	FONT-SIZE: 12px; BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 102px; BORDER-RIGHT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; COLOR: #5d5d5d; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 8px 0px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-RIGHT: 5px; WIDTH: 598px
}
.rom_commentcon DL {
	HEIGHT: 27px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 220px; PADDING-RIGHT: 0px; WIDTH: 399px
}
.rom_commentcon DD {
	FLOAT: left; PADDING-RIGHT: 12px
}
.rom_commentcon DD A {
	MARGIN: 0px 6px 0px 4px
}
.rom_commentcon DD INPUT.btn {
	HEIGHT: 27px; BACKGROUND: url(images/rom_btnbg.gif) no-repeat -217px -196px; WIDTH: 103px
}
.rom_commentcon DD INPUT.btn1 {
	BACKGROUND-POSITION: -217px -224px
}
.comment_loginreg {
	HEIGHT: 67px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 45px; PADDING-LEFT: 35px; PADDING-RIGHT: 35px; WIDTH: 538px
}
.loginreg_bord {
	HEIGHT: 31px; BACKGROUND: #ebe9e9; POSITION: relative; WIDTH: 181px
}
.loginreg {
	BORDER-TOP: #b6dcf5 1px solid; HEIGHT: 29px; BORDER-RIGHT: #b6dcf5 1px solid; BACKGROUND: #edf4f7; WHITE-SPACE: nowrap; BORDER-BOTTOM: #b6dcf5 1px solid; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN: -3px 0px 0px -3px; BORDER-LEFT: #b6dcf5 1px solid; LINE-HEIGHT: 29px; PADDING-RIGHT: 2px; WIDTH: 169px
}
.loginreg A {
	COLOR: #0e71be; MARGIN: 0px 8px
}
.loginreg A:hover {
	COLOR: #f05a00
}
.leave_message {
	MARGIN: 10px 0px; WIDTH: 661px
}
.messages {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 661px
}
.messages .photo {
	BORDER-TOP: #d4d4d4 1px solid; HEIGHT: 60px; BORDER-RIGHT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-RIGHT: 1px; WIDTH: 60px
}
.messages UL {
	FLOAT: right; WIDTH: 585px
}
.messages LI {
	HEIGHT: 20px; LINE-HEIGHT: 20px
}
.messages LI B {
	FLOAT: left
}
.messages LI .star_reply .rom_star {
	FLOAT: left
}
.messages LI .come_from {
	FLOAT: left
}
.messages LI SPAN.time {
	FLOAT: left
}
.messages LI SPAN.floor {
	FONT-SIZE: 36px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; FLOAT: right; COLOR: #c4c4c4; LINE-HEIGHT: 36px
}
.messages LI SPAN.time {
	COLOR: #999696
}
.messages LI .come_from {
	COLOR: #999696
}
.messages LI.msg {
	HEIGHT: auto; WORD-BREAK: break-all; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px; WIDTH: 378px; _margin-top: -15px
}
.messages LI .come_from {
	OVERFLOW: hidden; HEIGHT: 20px; PADDING-RIGHT: 10px
}
.messages LI .come_from A {
	COLOR: #2b7bae; TEXT-DECORATION: underline
}
.messages LI .come_from A IMG {
	MARGIN: -3px 2px 0px
}
.messages LI .star_reply {
	HEIGHT: 20px; FLOAT: right; WIDTH: 156px
}
.messages LI .star_reply A {
	HEIGHT: 20px; BACKGROUND: url(images/rom_replaybg.gif) no-repeat; FLOAT: left; FONT-WEIGHT: bold; MARGIN-LEFT: 10px; DISPLAY: block; WIDTH: 46px
}
.rom_star {
	HEIGHT: 19px; BACKGROUND: url(images/rom_starbg.png) no-repeat; WIDTH: 100px; TEXT-INDENT: -999em
}
.rom_star {
	BACKGROUND-POSITION: 0px -57px
}
.rom_star0 {
	BACKGROUND-POSITION: 0px 0px
}
.rom_star1 {
	BACKGROUND-POSITION: 0px -19px
}
.rom_star2 {
	BACKGROUND-POSITION: 0px -38px
}
.rom_star4 {
	BACKGROUND-POSITION: 0px -76px
}
.rom_star5 {
	BACKGROUND-POSITION: 0px -95px
}
.rom_star6 {
	BACKGROUND-POSITION: 0px -95px
}
.rating_star {
	HEIGHT: 14px; WIDTH: 14px
}
#list_infoimg {
	FLOAT: left; WIDTH: 283px
}
.list_images {
	FLOAT: left; MARGIN: 0px 0px 14px 8px; DISPLAY: inline; WIDTH: 275px
}
.list_images1 {
	MARGIN: 14px 0px 14px 8px
}
.list_images IMG {
	WIDTH: 275px
}
.pager {
	FONT-FAMILY: "ËÎÌå"; COLOR: #f60; PADDING-BOTTOM: 20px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
.pager SPAN {
	DISPLAY: inline-block
}
.pager A {
	DISPLAY: inline-block
}
.pager SPAN {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.pager A {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; COLOR: #7fa91a; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 6px; MARGIN: 0px 5px; BORDER-LEFT: #ddd 1px solid; PADDING-RIGHT: 6px
}
.pager A:hover {
	COLOR: #fff; TEXT-DECORATION: none; BACKGROUND-COLOR: #7fa91a
}
